.block1 h1 {
    font-style: italic;
    text-align: center;
}

.block1 h2 {
    font-style: italic;
    text-align: center;
    margin-top: +10px;
}

.block2 li {
list-style-type: none;
font-style: italic;
}

.block2 h2 {
    font-family: sans-serif;
    margin-left: 40px;
}

.block2 h3 {
    font-family: sans-serif;
    margin-left: 40px;
}

.block3 h3{
    font-family: sans-serif;
    margin-left: 40px;
}

.block3 li {
    list-style-type: none;
    font-style: italic;
}



.block4 h3 {
   font-family: sans-serif;
   margin-left: 40px;
}

.block4 h2 {
    font-family: sans-serif;
    margin-left: 40px;
}

.block4 li{
    list-style-type:none ;
    font-style:italic ;
}

.block5 h3 {
    font-family: sans-serif;
    margin-left: 40px;
}

.block5 li {
    font-style: italic;
    list-style-type: none;
}

.block6 h2 {
    font-family: sans-serif;
    margin-left: 40px;
}

.block6 h3 {
    margin-left: 40px;
    font-family: sans-serif;
}


.block6 li {
    list-style-type: none;
    font-style: italic;
}


.block7 h3 {
    font-family: sans-serif;
    margin-left: 40px;
}

.block7 li {
    list-style-type: none;
    font-style: italic;
}







































